* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #f3d7cc;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.nav {
  height: 15%;
  width: 100%;
  background: #f3d7cc;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 4%;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav ul {
  height: 100%;
  width: 30%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

ul li {
  list-style: none;
  margin-right: 4%;
}

button {
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 2% 3%;
  background: #e0b5a2;
  border: none;
  height: 50%;
  width: 50%;
  cursor: pointer;
}

.home-screen {
  background: url(https://plus.unsplash.com/premium_photo-1661340703104-816aed24b245?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  height: calc(100% - 15%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.home-heading,
h4 {
  font-family: serif;
  font-weight: 400;
  margin-left: 4%;
  color: white;
  font-size: 5rem;
  margin-bottom: 4%;
  text-shadow: 2px 2px 3px black;
}

h4 {
  font-size: 2rem;
}

.home-shop {
  padding: 0 0;
  height: 5%;
  width: 7%;
  background: #f3d7cc;
}

.we-do {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

span {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #db8c6b;
}

h2 {
  font-size: 3.5rem;
  font-weight: 500;
}

.card-section {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.card {
  height: 80%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.img {
  height: 60%;
  width: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 2px solid black;
}

.card1 .img {
  background: url(https://images.unsplash.com/photo-1603407474196-ab69cfd0410e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: bottom;
  background-size: cover;
}

.card2 .img {
  background: url(https://images.unsplash.com/photo-1703076640160-2cac67f4c7e0?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.card3 .img {
  background: url(https://images.unsplash.com/photo-1701510342341-9765724ec3d2?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.content {
  padding: 2%;
  height: 40%;
  width: 100%;
  background: #e0b5a2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h3 {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 3%;
}

p {
  color: black;
  font-size: 1rem;
  text-align: center;
}

.gifts {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.first-section,
.second-section,
.gift-ideas {
  height: 50%;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.gift-ideas {
  height: 90%;
  width: 40%;
  flex-direction: column;
}

.gift-ideas button {
  height: 12%;
  width: 15%;
}

.gift-img {
  height: 120%;
  width: 30%;
  transform: translateY(8.5%);
  border: 2px solid black;
  z-index: 9;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: url(https://images.unsplash.com/photo-1745176593885-c1d466a6dff5?q=80&w=2002&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.second-section {
  padding: 2%;
  background: #e0b5a2;
  flex-direction: column;
}

.post-section {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 5%;
}

.div {
  height: 80%;
  width: 30%;
  border: 2px solid black;
}

.div1 {
  background: url(https://images.unsplash.com/photo-1745563115146-aec349b7cadf?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.div2 {
  background: url(https://plus.unsplash.com/premium_photo-1674065305877-cb9e914a1993?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.div3 {
  background: url(https://images.unsplash.com/photo-1744693105821-ee10915ac90f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.div4 {
  background: url(https://images.unsplash.com/photo-1735082866464-a3eaa19dd4a1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.talk,
.team-talk {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3%;
}

.team-talk {
  background: #e0b5a2;
  padding: 2%;
  height: 50%;
  width: 30%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: translateY(6.7%);
  margin-bottom: 0;
}

.team-talk h2 {
  font-size: 2rem;
  margin-bottom: 2%;
}

.team-talk p {
  margin-bottom: 3%;
}

.team-talk button {
  height: 12%;
  width: 25%;
  background: #f3d7cc;
}

.footer {
  border-top: 2px solid black;
  height: calc(90% - 50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.subscribe {
  height: 60%;
  width: 40%;
  margin-left: 4%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

#email {
  height: 20%;
  width: 60%;
  display: inline-flex;
  justify-content: space-between;
}

#email input,
#email button {
  height: 80%;
}

.contact {
  height: 80%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.info {
  margin-right: 4%;
}
